@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@media (max-width: 850px) {
  .container-nav .share {
    display: none !important; }
  .container-nav .container-user {
    padding-right: 0 30px; }
  .nav-responsive {
    display: flex !important; } }

@media (max-width: 530px) {
  .container-panel .panel .container-panelsections .box-text {
    display: none; } }

.container-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px;
  border-bottom: 4px solid #196C84;
  background: white; }
  .container-nav .logo {
    padding-left: 20px;
    width: 220px;
    height: auto; }
  .container-nav .share {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    border: 1px solid #196C84;
    box-shadow: 6px 4px 0px #196C84;
    border-radius: 43px; }
    .container-nav .share p {
      font-weight: 900;
      font-size: 18px;
      color: #196C84;
      margin: 13px 0; }
  .container-nav .container-user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: auto; }
    .container-nav .container-user .notification {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #E0E0E0; }
      .container-nav .container-user .notification img {
        width: 16px;
        height: auto; }
      .container-nav .container-user .notification .red-point {
        position: absolute;
        width: 7px;
        height: 7px;
        background: #C62E43;
        border-radius: 50%;
        bottom: 3px;
        right: 0px; }
    .container-nav .container-user .user-section {
      display: flex;
      align-items: center;
      width: 100px;
      height: 46px;
      border: 0.82143px solid #E0E0E0;
      border-radius: 94px;
      padding: 3px;
      margin: 10px; }
      .container-nav .container-user .user-section .box-user {
        display: flex;
        flex: 50%; }
        .container-nav .container-user .user-section .box-user .user-img {
          width: 40px;
          height: auto; }
      .container-nav .container-user .user-section .box-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 50%; }
        .container-nav .container-user .user-section .box-arrow .arrow-img {
          width: 13px;
          height: auto; }

.nav-responsive {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center; }
  .nav-responsive .hr {
    z-index: -1;
    position: fixed;
    bottom: 30px;
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #196C84;
    padding: 0; }
  .nav-responsive .share {
    z-index: 999999;
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    border: 1px solid #196C84;
    box-shadow: 6px 4px 0px #196C84;
    border-radius: 43px;
    background: white; }
    .nav-responsive .share p {
      font-weight: 900;
      font-size: 18px;
      color: #196C84;
      margin: 13px 0; }

.container-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .container-panel .panel {
    display: flex;
    width: 660px;
    height: auto;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 67px;
    justify-content: space-around;
    align-items: center;
    padding: 24px 20px;
    margin: 90px 10px 0 10px; }
    .container-panel .panel .container-panelsections {
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-panel .panel .container-panelsections .box-text {
        font-size: 12px;
        font-weight: 700;
        color: #9E9E9E;
        margin: 0 4px; }

.container-tagsection {
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-tagsection .tags-container {
    display: flex;
    width: 620px;
    height: auto;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46px;
    margin: 16px 10px 2px 10px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px; }
    .container-tagsection .tags-container .tags {
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-tagsection .tags-container .tags .text-tag {
        font-size: 12px;
        font-weight: 400;
        color: #0C3944;
        margin: 3px; }

.container-tagoptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .container-tagoptions .tagoptions {
    display: flex;
    width: 620px;
    height: auto;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin: 0 10px;
    display: block;
    padding: 12px 12px 0 12px; }
    .container-tagoptions .tagoptions input {
      margin-bottom: 12px; }
    .container-tagoptions .tagoptions label {
      font-size: 14px;
      font-weight: 500;
      color: #0C3944; }

.container-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .container-comment .comment {
    display: flex;
    width: 620px;
    height: auto;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    flex-direction: column;
    margin: 90px 10px 0 10px;
    padding: 24px 30px 10px 27px; }
    .container-comment .comment .container-userinfo {
      display: flex;
      padding-bottom: 12px;
      justify-content: space-between;
      width: 100%; }
      .container-comment .comment .container-userinfo .user-data {
        display: flex; }
      .container-comment .comment .container-userinfo .user-datatext {
        padding-left: 10px; }
        .container-comment .comment .container-userinfo .user-datatext p {
          font-size: 16px;
          font-weight: 500;
          color: #BDBDBD; }
      .container-comment .comment .container-userinfo .points {
        width: 30px;
        height: 20px; }
    .container-comment .comment .container-usertext {
      padding: 6px; }
      .container-comment .comment .container-usertext p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px; }
    .container-comment .comment .container-reactions {
      display: flex;
      justify-content: space-between;
      margin: 10px 10px 0 10px;
      padding: 5px 0;
      border-top: 1px solid #BDBDBD;
      border-bottom: 1px solid #BDBDBD; }
      .container-comment .comment .container-reactions .reactions {
        display: flex;
        justify-content: center;
        align-items: center; }
        .container-comment .comment .container-reactions .reactions .reaction {
          padding: 10px 30px 5px 5px;
          display: flex; }
          .container-comment .comment .container-reactions .reactions .reaction .box-text {
            font-size: 12px;
            font-weight: 700;
            color: #9E9E9E;
            margin: 0 4px; }
      .container-comment .comment .container-reactions .save {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 5px 5px 5px;
        display: flex; }
        .container-comment .comment .container-reactions .save .box-text {
          font-size: 12px;
          font-weight: 700;
          color: #9E9E9E;
          margin: 0 4px; }
    .container-comment .comment .container-answer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 10px; }
      .container-comment .comment .container-answer .boxaswer {
        width: 100%; }
        .container-comment .comment .container-answer .boxaswer .input-answer {
          width: 95%;
          min-height: 40px;
          background: #EEEEEE;
          border-radius: 20px;
          outline: none;
          border: none;
          margin: 10px;
          padding: 5px 8px; }

.container-createproject {
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-createproject .createproject {
    display: flex;
    width: 620px;
    height: auto;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    border: 1px solid #0C3944;
    margin: 90px 10px 0 10px;
    flex-direction: column;
    padding: 32px 32px 0 32px; }
    .container-createproject .createproject h3 {
      text-align: center;
      font-size: 22px;
      color: #0C3944; }
    .container-createproject .createproject .container-form {
      display: flex;
      flex-direction: column;
      padding: 20px 0; }
      .container-createproject .createproject .container-form .col-project {
        display: flex;
        flex-direction: column;
        padding: 10px 0; }
        .container-createproject .createproject .container-form .col-project .textarea {
          height: 80px; }
        .container-createproject .createproject .container-form .col-project .input-project {
          width: 95%;
          min-height: 40px;
          background: #EEEEEE;
          border-radius: 8px;
          outline: none;
          border: none;
          margin: 10px;
          padding: 5px 8px; }
        .container-createproject .createproject .container-form .col-project label {
          font-size: 14px;
          font-weight: 700;
          color: #0C3944; }
        .container-createproject .createproject .container-form .col-project input[type="file"] {
          display: none; }
        .container-createproject .createproject .container-form .col-project .input-file {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 95%;
          min-height: 40px;
          background: #EEEEEE;
          border-radius: 8px;
          outline: none;
          border: none;
          margin: 10px;
          padding: 5px 8px;
          font-size: 12px;
          font-weight: 700;
          color: #9E9E9E;
          margin: 0 4px;
          background: #E0E0E0;
          margin: 10px;
          width: 95%; }
          .container-createproject .createproject .container-form .col-project .input-file img {
            padding: 0 5px; }
        .container-createproject .createproject .container-form .col-project .submit {
          width: 95%;
          background: #196C84;
          border-radius: 37px;
          outline: none;
          border: none;
          margin: 10px;
          padding: 5px 8px;
          color: white;
          height: 55px;
          opacity: 0.5; }

.container-questions {
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-questions .questions {
    display: flex;
    width: 520px;
    height: auto;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    display: flex;
    margin: 90px 10px 0 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 15px 5px;
    border: 1px solid #0C3944; }
    .container-questions .questions .palm {
      width: 42px;
      height: auto; }
    .container-questions .questions .title-questions {
      font-size: 14px;
      font-weight: 700;
      padding: 15px 29px;
      color: #0C3944; }
    .container-questions .questions .submit-questions {
      width: 95%; }
      .container-questions .questions .submit-questions .submit {
        width: 95%;
        background: #196C84;
        border-radius: 37px;
        outline: none;
        border: none;
        margin: 10px;
        padding: 5px 8px;
        color: white;
        height: 55px; }

.container-shareproject {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .container-shareproject .shareproject {
    display: flex;
    width: 620px;
    height: auto;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    border: 1px solid #0C3944;
    display: flex;
    margin: 90px 10px 0 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    text-align: center; }
    .container-shareproject .shareproject .user-img {
      width: 80px; }
    .container-shareproject .shareproject .title-shareproject {
      font-size: 18px;
      font-weight: 700;
      color: #0C3944;
      padding: 10px 0; }
    .container-shareproject .shareproject .questions-share {
      padding: 10px 0; }
    .container-shareproject .shareproject .box-share {
      width: 95%;
      min-height: 40px;
      background: #EEEEEE;
      border-radius: 9px;
      outline: none;
      border: none;
      margin: 10px;
      padding: 5px 8px;
      width: 100%;
      height: 90px; }
    .container-shareproject .shareproject .container-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      .container-shareproject .shareproject .container-buttons .buttons {
        display: flex; }
        .container-shareproject .shareproject .container-buttons .buttons .button {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #0C3944;
          margin: 10px;
          border-radius: 37px;
          padding: 0 10px;
          width: 145px; }
          .container-shareproject .shareproject .container-buttons .buttons .button p {
            font-size: 12px;
            font-weight: 700;
            color: #9E9E9E;
            margin: 0 4px; }
      .container-shareproject .shareproject .container-buttons .button-publish {
        width: 25%; }
        .container-shareproject .shareproject .container-buttons .button-publish .submit {
          width: 95%;
          background: #196C84;
          border-radius: 37px;
          outline: none;
          border: none;
          margin: 10px;
          padding: 5px 8px;
          color: white;
          height: 55px;
          opacity: 0.6; }

.container-personalinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .container-personalinfo .personalinfo {
    display: flex;
    width: 455px;
    height: auto;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    border: 1px solid #0C3944;
    margin: 90px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px; }
    .container-personalinfo .personalinfo .emoji {
      width: 58px;
      height: auto; }
    .container-personalinfo .personalinfo h3 {
      font-size: 24px;
      color: #0C3944;
      line-height: 40px; }
    .container-personalinfo .personalinfo .user-info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px; }
      .container-personalinfo .personalinfo .user-info p {
        padding: 20px; }
    .container-personalinfo .personalinfo .container-input {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .container-personalinfo .personalinfo .container-input label {
        color: #0C3944;
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        padding: 5px 0; }
      .container-personalinfo .personalinfo .container-input .input-info {
        width: 95%;
        min-height: 40px;
        background: #EEEEEE;
        border-radius: 12px;
        outline: none;
        border: none;
        margin: 10px;
        padding: 5px 8px;
        border: 1px solid #424242;
        background: white;
        margin: 8px 0; }
    .container-personalinfo .personalinfo .submit {
      width: 95%;
      background: #196C84;
      border-radius: 37px;
      outline: none;
      border: none;
      margin: 10px;
      padding: 5px 8px;
      color: white;
      height: 55px;
      opacity: 0.5; }

.container-personalinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .container-personalinfo .personalinfo {
    display: flex;
    width: 455px;
    height: auto;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    border: 1px solid #0C3944;
    margin: 90px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px; }
    .container-personalinfo .personalinfo .emoji {
      width: 58px;
      height: auto; }
    .container-personalinfo .personalinfo h3 {
      font-size: 20px;
      color: #0C3944;
      line-height: 40px; }
    .container-personalinfo .personalinfo .user-info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px; }
      .container-personalinfo .personalinfo .user-info p {
        padding: 20px; }
    .container-personalinfo .personalinfo .container-input {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 5px 0; }
      .container-personalinfo .personalinfo .container-input label {
        color: #0C3944;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        padding: 5px 0; }
      .container-personalinfo .personalinfo .container-input .input-info {
        width: 95%;
        min-height: 40px;
        background: #EEEEEE;
        border-radius: 12px;
        outline: none;
        border: none;
        margin: 10px;
        padding: 5px 8px;
        border: 1px solid #424242;
        background: white;
        margin: 8px 0; }
      .container-personalinfo .personalinfo .container-input .select {
        background: #EEEEEE;
        border: none; }
    .container-personalinfo .personalinfo .submit {
      width: 95%;
      background: #196C84;
      border-radius: 37px;
      outline: none;
      border: none;
      margin: 10px;
      padding: 5px 8px;
      color: white;
      height: 55px;
      opacity: 0.5; }

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: 15rem;
  grid-gap: 3rem;
  grid-auto-flow: dense;
  margin: 90px 300px; }
  .container :nth-child(13) {
    grid-column: 1 / -1; }
  .container .rewards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20%;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: 1px solid #196C84;
    text-align: center;
    opacity: 0.5; }
    .container .rewards-container h3 {
      padding: 14px 0; }

.container-notifications {
  z-index: 99999999999;
  display: flex;
  justify-content: end;
  align-items: center; }
  .container-notifications .notifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 85px 10px 0 10px;
    display: flex;
    width: 250px;
    height: auto;
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px; }
    .container-notifications .notifications .box-notif {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      margin: 5px;
      display: flex;
      width: 220px;
      height: auto;
      background: #FAFAFA;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px; }
      .container-notifications .notifications .box-notif .text-notif {
        padding: 10px 0 10px 10px; }
        .container-notifications .notifications .box-notif .text-notif p {
          padding: 2px 0;
          font-size: 11px;
          color: #757575; }
        .container-notifications .notifications .box-notif .text-notif .time {
          color: #196C84; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

body {
  background: #EEEEEE; }
