@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "settings/mixins";
@import "settings/vars";
@import "responsive/mQ";
@import "components/navBar";
@import "components/panel";
@import "components/tagBar";
@import "components/tagOptions";
@import "components/comment";
@import "components/createProject";
@import "components/questions.scss";
@import "components/shareProject.scss";
@import "components/personalInfo";
@import "components/challengeInfo";
@import "components/rewards";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background: $grey-lighten-3;
}