@media (max-width: 850px){
    .container-nav{
        .share{
            display: none !important;
        }
        .container-user{
            padding-right: 0 30px;
        }
    }

    .nav-responsive{
        display: flex !important;
    }
}

@media (max-width: 530px){
    .container-panel{
        .panel{
            .container-panelsections{
                .box-text{
                    display: none;
                }
            }
        }
    }
}