.container-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .panel{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px;
        width: 660px;
        height: 76px;
        background: $grey-lighten-5;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.16);
        border-radius: 67px;
        margin-top: 90px;
        .container-panelsections{
            display: flex;
            justify-content: center;
            align-items: center;
            .box-icons{
                margin: 0 4px;
            }
            .box-text{
                font-size: 12px;
                font-weight: 700;
                color: $grey;
            }
        }
    }
}