.container-tagsection{
    display: flex;
    justify-content: center;
    align-items: center;
    .tags-container{
        @include box (620px, 46px);
        margin: 16px 10px 2px 10px;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px;
        .tags{
            display: flex;
            justify-content: center;
            align-items: center;
            .text-tag{
                font-size: 12px;
                font-weight: 400;
                color: $blue-diane;
                margin: 3px;
            }
        }
    }
}